name: CI
permissions:
  contents: read

on:
  workflow_dispatch:
  pull_request:
    paths:
      - "**/assets/**"
      - Cargo.toml
      - Cargo.lock
      - "**.rs"
      - .github/workflows/ci.yml
  push:
    paths:
      - "**/assets/**"
      - Cargo.toml
      - Cargo.lock
      - "**.rs"
      - .github/workflows/ci.yml

env:
  CARGO_TERM_COLOR: always
  CARGO_TERM_VERBOSE: true
  CARGO_INCREMENTAL: 0
  CARGO_PROFILE_TEST_DEBUG: 0

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  fmt:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: nightly
          components: rustfmt
          cache: false
      - uses: taiki-e/install-action@just
      - name: Format check
        run: just fmt-check

  clippy:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: awalsh128/cache-apt-pkgs-action@v1
        with:
          packages: g++ pkg-config libx11-dev libasound2-dev libudev-dev libxkbcommon-x11-0 libwayland-dev libxkbcommon-dev
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy
      - uses: taiki-e/install-action@just
      - run: just clippy
